BasedOnStyle: InheritParentConfig
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
InsertBraces: true
SeparateDefinitionBlocks: Always
BraceWrapping:
  BeforeLambdaBody: true
